@font-face {
  font-family: "Formula1";
  src: url("./fonts/Formula-1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: url("./fonts/Saira-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* Диапазон от Thin до Black */
  font-stretch: 50% 125%; /* Диапазон от UltraCondensed до Expanded */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: url("./fonts/Saira-Italic-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 50% 125%;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Saira", sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  display: block;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.overlay-active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 29, 51, 0.4);
  z-index: 2;
}

.overlay-no-scroll {
  overflow: hidden;
}

button,
.button {
  cursor: pointer;
  background-color: #df0e15;
  display: flex;
  padding: 10px 20px;
  border-radius: 15px;
  max-width: max-content;
  transition: all 0.3s ease;
  border: none;
}

button:hover,
.button:hover {
  scale: 1.05;
}

button:active,
.button:active {
  scale: 0.9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  display: inline-block;
  font-family: "Formula1", sans-serif;
  text-transform: uppercase;
  /* font-style: italic; */
  padding: 10px 20px 5px 20px;
  border-left: 5px solid #df0e15;
  border-top: 5px solid #df0e15;
  border-radius: 25px 0 0 0;
  position: relative;
}

section {
  margin-bottom: 20px;
}

/* ------------------------------ */
.hero {
  position: relative;
  /* min-height: 400px; */
  min-height: 100vh;
  margin-bottom: 0;
  padding-top: 10%;
}

@media (min-width: 768px) {
  .hero {
    min-height: 700px;
    /* min-height: 100vh; */
  }
}

.hero:after {
  position: absolute;
  content: "";
  background-color: #000000;
  background-image: url("/images/herobg-mob.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 400px;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .hero:after {
    background-image: url("/images/herobg.webp");
    min-height: 700px;
  }
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.hero__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 -30%;
  padding: 0;
  font-size: 25px;
  color: #e9e9e9;
  text-transform: uppercase;
  font-family: "Formula1", sans-serif;
}

.hero__subtitle-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.hero__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: #e9e9e9;
  text-transform: uppercase;
  font-family: "Saira", sans-serif;
  font-weight: 900;
  font-style: italic;
  /* letter-spacing: 0.05em; */
}

.hero__subtitle-logo {
  height: 60px;
}

.hero__description,
a.hero__button {
  display: flex;
  /* margin: 0;
  padding: 0; */
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Saira", sans-serif;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.hero__description {
  max-width: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 18px;
}

a.hero__button {
  font-size: 18px;
  margin-bottom: 120px;
}

.hero__arrow-btn {
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 2s ease-in-out infinite;
}

.hero__arrow-btn svg {
  fill: #e9e9e9;
  width: 30px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
/* ------------------------------- */
.main-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* background-color: #151414; */
  gap: 20px;
  color: #e9e9e9;
  position: relative;
  padding: 20px 30px 20px 30px;
}

.main-content-wrapper:after {
  position: absolute;
  content: "";
  background-color: #151414;
  background-image: url("/images/icons/bg-grid.svg");

  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-content__left {
  min-width: 200px;
}

/* ------------------------------- */
.quotes__list-item div {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  font-size: 16px;
}

.quotes__list-item p {
  margin: 0;
  padding: 0;
}

.quotes__list-item p:first-of-type {
  color: #ff9e1b;
  text-transform: uppercase;
}

.quotes__title {
  position: relative;
}

.quotes__title:after {
  content: "";
  position: absolute;
  background-image: url("/images/icons/radio.svg");
  width: 188px;
  height: 17px;
  right: -198px;
}

.quotes__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  list-style: none;
  padding: 10px 15px;
  margin: 0;
  font-family: "Saira", sans-serif;
  font-size: 18px;
  position: relative;
  /* overflow: hidden; */
}

.quotes__list-item {
  background-image: linear-gradient(
    to right,
    rgba(28, 14, 34, 0.3),
    rgba(28, 14, 34, 0.9)
  );
  background-color: rgba(13, 27, 62, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  padding: 15px 10px;
  margin: 0;
  /* border: 1px solid #e9e9e9; */
  border-radius: 20px;
  color: #e9e9e9;
  transition: all 0.3s ease;
}

.quotes__list-item:hover,
.race-terms__list-item:hover {
  scale: 1.05;
}

.quotes__list-item blockquote {
  padding: 0;
  margin: 0 0 20px 0;
  font-style: italic;
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
}

/* -------------------------- */

.race-terms__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.race-terms__list-item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
  max-width: 200px;
  padding: 15px 10px;
  margin: 0;
  text-align: center;
  /* border: 1px solid #e9e9e9; */
  border-radius: 20px;
  /* color: #000000; */
  background-color: #151414;
  transition: all 0.3s ease;
}

.race-terms__card-title {
  text-transform: uppercase;
}

.race-terms__list-item:nth-child(1n) .race-terms__card-title {
  color: #ff9e1b;
}

.race-terms__list-item:nth-child(2n) .race-terms__card-title {
  color: #65dccf;
}

.race-terms__list-item:nth-child(3n) .race-terms__card-title {
  color: #4374b7;
}

.race-terms__list-item:nth-child(4n) .race-terms__card-title {
  color: #be4029;
}

.race-terms__card-description {
  line-height: 1.4;
  letter-spacing: 0.05em;
}

/* --------------- */

.track-elements__card-title {
  text-transform: uppercase;
  font-weight: 600;
}

.track-elements__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.track-elements__list-item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
  max-width: 200px;
  padding: 15px 10px;
  margin: 0;
  text-align: center;
  /* border: 1px solid #e9e9e9; */
  border-radius: 20px;
  transition: all 0.3s ease;
}

.track-elements__list-item:hover {
  scale: 1.05;
}

.track-elements__card-description {
   line-height: 1.4;
   letter-spacing: 0.05em;
}

/* ------------ */

.tech__list {
  list-style: none;
  padding: 10px 15px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.tech__card-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
}

.tech__list-item {
  transition: all 0.3s ease;
}

.tech__list-item:hover {
  scale: 1.05;
}

.tech__list-item:nth-child(1n) .tech__card-title {
  color: #ff9e1b;
}

.tech__card-description,
.tech__card-label {
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.tech__list-item:nth-child(1n) .tech__card-divider {
  background-color: #ff9e1b;
}

.tech__list-item:nth-child(2n) .tech__card-title {
  color: #65dccf;
}

.tech__list-item:nth-child(2n) .tech__card-divider {
  background-color: #65dccf;
}

.tech__list-item:nth-child(3n) .tech__card-title {
  color: #be4029;
}
.tech__list-item:nth-child(3n) .tech__card-divider {
  background-color: #be4029;
}

/* ------------- */

.flags__list {
  list-style: none;
  padding: 10px 15px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.flags__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 200px;
  padding: 15px 10px;
  margin: 0;
  text-align: center;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.flags__list-item:hover {
  scale: 1.05;
}

.flags__list-item-flag {
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  border-top-right-radius: 15px;
}

.flags__list-item-flag-title {
  font-family: "Formula1", sans-serif;
  margin: 0;
}

.flags__list-item-flag--green {
  background-color: #72d460;
}

.flags__list-item-flag--yellow {
  background-color: #ff9e1b;
}

.flags__list-item-flag--red {
  background-color: #be4029;
}

.flags__list-item-flag--chequered {
  background-image: url("/images/icons/checkered-flag.svg");
  width: 100%;
  height: 50px;
}

.flags__list-item-flag--blue {
  background-color: #4374b7;
}

.flags__list-item-flag--white {
  background-color: #ffffff;
}

.flags__list-item-flag--black {
  background-color: #000000;
}

.flags__list-item-flag-description {
  margin: 0;
}

/* ----------------------- */

.teams {
  background-color: rgba(21, 20, 20, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px #df0e15;
}

.teams__title {
  display: block;
  font-family: "Formula1", sans-serif;
  text-align: center;
  border: none;
  font-size: 28px;
}

.teams__list {
  list-style: none;
  padding: 10px 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.teams__list-item {
  display: block;
  flex-direction: column;
  border-radius: 20px;
  padding: 15px;
  margin: 0;
  transition: all 0.3s ease;
  position: relative;
  trasition: all 0.3s ease;
}

.teams__list-item:hover {
  scale: 1.05;
}

.teams__list-item--RB {
  background: linear-gradient(90deg, #182443 0%, #314e9a 100%);
}

.teams__list-item--SF {
  background: linear-gradient(90deg, #540714 0%, #c61826 100%);
}

.teams__list-item--MP {
  background: linear-gradient(90deg, #177661 0%, #33e7c2 100%);
}

.teams__list-item--MR {
  background: linear-gradient(90deg, #753c08 0%, #e27014 100%);
}

.teams__list-item--AM {
  background: linear-gradient(90deg, #133d2d 0%, #23865f 100%);
}

.teams__list-item--AT {
  background: linear-gradient(90deg, #144467 0%, #2989d7 100%);
}

.teams__list-item--WR {
  background: linear-gradient(90deg, #111d40 0%, #2b4dc6 100%);
}

.teams__list-item--HT {
  background: linear-gradient(90deg, #61696e 0%, #c2c6c8 100%);
}

.teams__list-item--Au {
  background: linear-gradient(90deg, #6b1a05 0%, #f23212 100%);
}

.teams__list-item--racing-bulls {
  background: linear-gradient(90deg, #2320ba 0%, #5c74f6 100%);
}

.teams__list-item--CF1 {
  background: linear-gradient(90deg, #505052 0%, #8d8d90 100%);
}

.teams__team-name {
  font-family: "Formula1", sans-serif;
  /* text-transform: uppercase; */
  margin: 0 0 15px 0;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.teams__drivers p {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Saira", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: uppercase;
}

/* ------------------ */
.links__tires {
  position: relative;
  text-decoration: none;
  color: #e9e9e9;
  border-radius: 20px;
  overflow: hidden;
}

.links__tires-img {
  width: 100%;
  border-radius: 20px;
}

.links__tires-title {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-transform: uppercase;
  color: #e9e9e9;
  /* border: none; */
  width: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.links__tires-title:hover {
  scale: 1.05;
}

.links__tires-title:active {
  scale: 0.9;
}

/* ------------------------ */

.footer {
  background-color: #151414;
  color: #e9e9e9;
  padding: 30px;
  font-family: "Saira", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__quick-links {
  list-style: none;
  padding: 15px 40px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px 30px;
  border-left: 1px solid #33e7c2;
  border-top: 1px solid #33e7c2;
  border-radius: 25px 0 0 0;
}

.footer__quick-links-item {
  margin: 0;
  padding: 0;
}

.footer__quick-links a {
  color: #e9e9e9;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.footer__quick-links a:hover {
  scale: 1.05;
  color: #ff9e1b;
}

.footer__f1-link {
  color: #e9e9e9;
  text-decoration: none;
  font-family: "Formula1", sans-serif;
  font-size: 24px;
  transition: all 0.3s ease;
}
.footer__f1-link:hover {
  scale: 1.05;
  color: #df0e15;
  opacity: 0.6;
}

.footer__author-link {
  margin: 0;
  padding: 0;
  color: #e9e9e9;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-transform: uppercase;
  transition: all 0.3s ease;
  /* font-family: "Formula1", sans-serif; */
}

.footer__author-link:hover {
  scale: 1.05;
  color: #df0e15;
  opacity: 0.6;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}